<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="home">
	
	<!-- 등록된 Recipe가 그냥 뽑힘 -->
	<select id="selectRecipe" resultType="recipe" parameterType="hashmap">
		<![CDATA[
		SELECT C.* FROM (SELECT ROWNUM AS "R", rLevel, rTime, quantity, rImg, rName FROM RECIPE ORDER BY QUANTITY) C 
		WHERE C.R >= #{startNumber} AND C.R <= #{endNumber}
		ORDER BY ROWNUM 
		]]>

	</select>
	
	<select id="selectShowHome" resultType="recipe">
		<![CDATA[
		SELECT C.* FROM (SELECT ROWNUM AS "R", rLevel, rTime, quantity, rImg, rName FROM RECIPE ORDER BY QUANTITY) C 
		WHERE C.R >= 1 AND C.R <= 8
		ORDER BY ROWNUM 
		]]>
	</select>
	
	<select id="selectCountAllRecipe" resultType="_int">
		SELECT COUNT(*) FROM RECIPE
	</select>
	
	<!-- parameterType="Dao에서 넘기는 값의 형태", resultType="어떤 정보들을 받아 오는지의 타입" -->
	<select id="searchRecipe" parameterType="string" resultType="recipe">
		<![CDATA[
		SELECT ROWNUM, RNUM, MNUM, RNAME, RIMG, QUANTITY, RTIME, RLEVEL, INUM, IQUAN, SUBINGREDIENT, RDATE, RINTRO, RREPORT, RRECOMMEND, RCOUNT 
       	FROM RECIPE R 
       	WHERE R.SUBINGREDIENT LIKE '%'||#{search}||'%' OR R.RNAME LIKE '%'||#{search}||'%' AND ROWNUM >=1 AND ROWNUM <=8
       	]]>
	</select>
	
	<select id="searchTotalCountHome" resultType="_int">
		SELECT COUNT(*) 
       	FROM RECIPE R 
       	WHERE R.SUBINGREDIENT LIKE '%'||#{search}||'%' OR R.RNAME LIKE '%'||#{search}||'%'
	</select>
	
	<select id="searchRecipeList" resultType="recipe" parameterType="hashmap">
		<![CDATA[
		SELECT C.* FROM (SELECT ROWNUM AS "R", rLevel, rTime, quantity, rImg, rName FROM RECIPE WHERE SUBINGREDIENT LIKE '%'||#{keyWord}||'%' OR RNAME LIKE '%'||#{keyWord}||'%' ORDER BY QUANTITY) C 
		WHERE C.R >= #{searchStartCount} AND C.R <= #{searchEndCount} 
		ORDER BY ROWNUM
		]]>
	</select>
		
	<select id="searchTotalCount" resultType="_int">
		SELECT COUNT(*) FROM RECIPE R WHERE R.SUBINGREDIENT LIKE '%'||#{keyWord}||'%' OR R.RNAME LIKE '%'||#{keyWord}||'%'
	</select>
	
	<!-- 조회가 많은 순서대로 정렬 -->
	<select id="inquiryTotalCount" resultType="_int">
		SELECT COUNT(*) FROM RECIPE R WHERE R.SUBINGREDIENT LIKE '%'||#{keyWord}||'%' OR R.RNAME LIKE '%'||#{keyWord}||'%'
	</select>
	
	<select id="inquiryRecipeListBefore" resultType="recipe">
		<![CDATA[
		SELECT C.* FROM (SELECT ROWNUM AS "R", rLevel, rTime, quantity, rImg, rName, rCount FROM RECIPE P WHERE SUBINGREDIENT LIKE '%'||#{keyWord}||'%' OR RNAME LIKE '%'||#{keyWord}||'%' ORDER BY P.RCOUNT DESC) C 
		WHERE C.R >= 1 AND C.R <= 8
		]]>
	</select>
	
	<select id="inquiryRecipeListAfter" resultType="recipe" parameterType="hashmap">
		<![CDATA[
		SELECT C.* FROM (SELECT ROWNUM AS "R", rLevel, rTime, quantity, rImg, rName, rCount FROM RECIPE P WHERE SUBINGREDIENT LIKE '%'||#{keyWord}||'%' OR RNAME LIKE '%'||#{keyWord}||'%' ORDER BY P.RCOUNT DESC) C 
		WHERE C.R >= #{inquiryStartCount} AND C.R <= #{inquiryEndCount}
		]]>
	</select>
	
	
	<!-- recipeTop5 -->
	<select id="recipeTop5" resultType="recipe">
		<![CDATA[
		SELECT ROWNUM AS "R", 
		       RNUM, MNUM, 
		       RNAME, RIMG, 
		       QUANTITY, RTIME, 
		       RLEVEL, INUM, 
		       IQUAN, SUBINGREDIENT, 
		       RDATE, RINTRO, 
		       RREPORT, RRECOMMEND, 
		       RCOUNT 
		FROM (SELECT RNUM, MNUM, RNAME, 
		             RIMG, QUANTITY, RTIME, 
		             RLEVEL, INUM, IQUAN, 
		             SUBINGREDIENT, RDATE, RINTRO, 
		             RREPORT, RRECOMMEND, RCOUNT  
		      FROM RECIPE 
		      ORDER BY RRECOMMEND DESC)
		WHERE ROWNUM <= 5
		]]>
	</select>
</mapper>