<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="recipe">

	<select id="selectCategoryList" resultType="ingredient">
		SELECT *
		FROM (SELECT CNAME, SUBSTR(CATEGORY,0,1) AS CATEGORY FROM INGREDIENT_CATEGORY)
	    GROUP BY CNAME, CATEGORY
	    ORDER BY 2
	</select>
	
	<select id="selectIngredientList" parameterType="String" resultType="ingredient">
		SELECT INAME, INUM
		FROM INGREDIENT I
		JOIN (SELECT CATEGORY
		          FROM INGREDIENT_CATEGORY
		          WHERE CNAME = #{category}
		          ORDER BY 1 ASC) C
		ON (I.CATEGORY = C.CATEGORY)
		ORDER BY 1 ASC
	</select>
	
	<insert id="insertRecipe">
		<selectKey keyProperty="rNum" resultType="_int" order="AFTER">
			SELECT SEQ_RECIPE.CURRVAL FROM DUAL
		</selectKey>
		INSERT INTO RECIPE VALUES
		(SEQ_RECIPE.NEXTVAL, #{mNum}, #{rName}, #{rImg}, #{quantity}, #{rTime}, #{rLevel}, #{iNum}, 
		#{iQuan}, #{subIngredient}, DEFAULT, #{rIntro}, 0, 0, 0)
	</insert>
	
	
	<insert id="insertRecipeContent">
		INSERT INTO RECIPE_CONTENT VALUES(#{rStep}, #{rNum}, #{rContent}, #{rContentimg})
	</insert>
	
	<select id="selectRecipeDetail" parameterType="_int" resultType="recipe">
		SELECT RNUM, R.MNUM, RNAME, RIMG, QUANTITY, RTIME, RLEVEL, INUM, IQUAN, SUBINGREDIENT, RDATE, RINTRO, RREPORT, RRECOMMEND, RCOUNT, M.MNAME
		FROM RECIPE R 
		JOIN (SELECT MNAME, MNUM FROM MEMBER) M
		ON (R.MNUM = M.MNUM)
		WHERE RNUM = #{rNum}
	</select>
	
	<select id="selectMainIngredientList" parameterType="String" resultType="ingredient">
		SELECT INAME, SUBSTR(CATEGORY,0,1) AS CATEGORY, INUM
		FROM INGREDIENT
		WHERE INUM = #{name}
	</select>
	
	<select id="selectContentList" parameterType="_int" resultType="recipeContent">
		SELECT *
		FROM RECIPE_CONTENT
		WHERE RNUM = #{rNum}
		ORDER BY RSTEP ASC
	</select>
	
	<delete id="deleteRecipeContent" parameterType="_int">
		DELETE FROM RECIPE_CONTENT 
		WHERE RNUM = #{rNum}
	</delete>
	
	<delete id="deleteRecipe" parameterType="_int">
		DELETE FROM RECIPE
		WHERE RNUM = #{rNum}
	</delete>
	
	<update id="updateCount" parameterType="_int">
		UPDATE RECIPE SET RCOUNT = RCOUNT + 1 WHERE RNUM = #{rNum}
	</update>
	
<!-- 	<select id="selectReview" parameterType="_int" resultType="review">
		SELECT MID, MPICTURE, J.*
		FROM MEMBER M
		JOIN (SELECT *
		        FROM REVIEW
		        WHERE RNUM = #{rNum}) J
		ON (M.MNUM = J.MNUM)
	</select> -->
	<select id="selectReview" parameterType="hashmap" resultType="review">
		SELECT * 
		FROM (SELECT MID, MPICTURE, J.*, ROWNUM R_NUM
					FROM MEMBER M
					JOIN (SELECT *
					        FROM REVIEW
					        WHERE RNUM = #{rNum}) J
					ON (M.MNUM = J.MNUM)
					ORDER BY RVNUM)
		WHERE R_NUM BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<select id="selectRecommend" resultType="recommend">
		SELECT *
		FROM RECOMMEND
		WHERE RNUM = #{rNum} AND MNUM = #{mNum}
	</select>
	
	<insert id="insertRecommned">
		INSERT INTO RECOMMEND VALUES (#{mNum}, #{rNum})
	</insert>
	
	<update id="updateRecommend">
		<if test="chk.equals('plus')">
			UPDATE RECIPE SET RRECOMMEND = RRECOMMEND + 1 WHERE RNUM = #{rNum}
		</if>
		<if test="chk.equals('minus')">
			UPDATE RECIPE SET RRECOMMEND = RRECOMMEND - 1 WHERE RNUM = #{rNum}
		</if>
	</update>
	
	<delete id="deleteRecommned">
		DELETE FROM RECOMMEND WHERE MNUM = #{mNum} AND RNUM = #{rNum}
	</delete>
	
	<insert id="insertReview">
   		<selectKey keyProperty="rvNum" resultType="_int" order="AFTER">
			SELECT SEQ_REVIEW.CURRVAL FROM DUAL
		</selectKey>
		INSERT INTO REVIEW VALUES(SEQ_REVIEW.NEXTVAL, #{rNum}, #{mNum}, #{grade}, #{rvContent}, DEFAULT)
	</insert>
	
	<insert id="insertReport">
      INSERT INTO REPORT VALUES(SEQ_REPORT.NEXTVAL, #{rNum}, #{mNum}, #{rpContent}, DEFAULT)
   	</insert>
   	
   	<select id="selectReviewOne" parameterType="_int" resultType="review">
		SELECT MID, MPICTURE, J.*
		FROM MEMBER M
		JOIN (SELECT *
		        FROM REVIEW
		        WHERE RNUM = #{rNum} AND RVNUM = #{rvNum}) J
		ON (M.MNUM = J.MNUM)
	</select>
	
	<delete id="deleteReview">
		DELETE FROM REVIEW WHERE RVNUM = #{rvNum}
	</delete>
	
	<select id="reviewAvgGrade" parameterType="_int" resultType="_double">
		SELECT ROUND(AVG(GRADE), 1) GRADE
		FROM REVIEW
		WHERE RNUM = #{rNum}
	</select>
	
	<select id="selectReviewTotalContents" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM REVIEW
		WHERE RNUM = #{rNum}
	</select>
	
	<update id="updateRecipe">
		UPDATE RECIPE SET RNAME = #{rName}, RIMG = #{rImg}, QUANTITY = #{quantity}, RTIME = #{rTime}, RLEVEL = #{rLevel}, INUM = #{iNum}, IQUAN = #{iQuan}, SUBINGREDIENT = #{subIngredient}, RDATE = SYSDATE, RINTRO = #{rIntro}
		WHERE RNUM = #{rNum}
	</update>
	
	<delete id="deleteReviewAll">
		DELETE FROM REVIEW WHERE RNUM = #{rNum}
	</delete>
	
</mapper>