<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ingredient">
	
	<select id="selectKeywords" parameterType="_int">
		SELECT INUM, KEYWORD FROM INGREDIENT_KEYWORD WHERE INUM = #{iNum}
	</select>
	
	<delete id="deleteIngKeyword" parameterType="_int">
		DELETE INGREDIENT_KEYWORD WHERE INUM = #{iNum}	
	</delete>
</mapper>
