<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mypage">
	
	<!-- 마이페이지 게시글 불러오기 -->
	<select id="selectMyBoardList" resultMap="myBoard">
		SELECT * FROM BOARD B JOIN MEMBER M ON(B.MNUM=M.MNUM) ORDER BY CATEGORY DESC, BNUM DESC
	</select>
	
	<!-- 아이페이지 내가쓴글 불러오기 -->
	<select id="seleteMyPostList" parameterType="_int" resultType="board">
		SELECT * FROM BOARD WHERE MNUM = #{mNum}
	</select>
	
	<!-- 게시판 토탈 -->
	<select id="selectMyBoardTotalContents" resultType="_int">
		SELECT COUNT(*) FROM BOARD
	</select>
	
	<!-- 마이페이지 내가쓴글 토탈 -->
	<select id="selectMyPostTotalContents" resultType="_int">
		SELECT COUNT(*) FROM BOARD
	</select>
	
	
	
	<!-- 닉네임 중복확인 -->
	<select id="checkNicDuplicate" resultType="_int">
		SELECT COUNT(*) AS CNT FROM MEMBER WHERE MNAME = #{mName}
	</select>
	
	<!-- 회원정보 수정 -->
	<update id="updatemypageEnrollEnd" parameterType="hashmap">
		UPDATE MEMBER SET MNAME = #{nic}, PASSWORD = #{password}, EMAIL = #{email} WHERE MID = #{mId}
	</update>
	
	<delete id="deleteMyBoard" parameterType="_int">
		DELETE BOARD WHERE BNUM = #{bNum}
	</delete>
	
	<!-- 이미지 업로드 -->
	<update id="updateImg" parameterType="hashmap">
		UPDATE MEMBER SET MPICTURE = #{renameFileName} WHERE MNUM = #{numHidden}
	</update>
	
	<!-- 회원탈퇴 -->
	<delete id="deleteUserInfo" parameterType="_int">
		DELETE FROM MEMBER WHERE  MNUM = #{formDel}
	</delete>
	
	
 	<resultMap type="board" id="myBoard">
		<result column="BNUM" property="bNum"/>
		<result column="CATEGORY" property="category"/>
		<result column="BTITLE" property="bTitle"/>
		<result column="MNUM" property="mNum"/>
		<result column="BDATE" property="bDate"/>
		<result column="BCONTENT" property="bContent"/>
		<result column="REPLY" property="reply"/>
		<result column="BCOUNT" property="bCount"/>
		<result column="MID" property="mId"/>
		<result column="MNAME" property="mName"/>
	</resultMap>
	
	
	

</mapper>
